Pipeline for Extracting Keywords from the dataset

In [94]:
import pandas as pd
import spacy
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import numpy as np
#import nltk
#nltk.download('punkt')

In [95]:
nlp = spacy.load("en_core_web_sm")

path = "/Users/ethanvirtudazo/Desktop/DS105_Dataset/6622_jobs.xls"
df_import = pd.read_excel(path)

df_import.shape

(6623, 11)

In [97]:
df_import.head(2)

,Unnamed: 0,title,details,deadline,opport_type,commence_date,contract_type,location,Renumeration,company,links
0,0,Rothschild & Co - Private Equity Long-Term Int...,This London-based 6-month internship is an exc...,2023-04-30,Internship,2023-07-01 00:00:00,Temporary,London,NaN,Rothschild & Co,https://careers.lse.ac.uk//students/jobs/detai...
1,1,2023 HSBC Global Graduate Programme (Hong Kong...,You’re excited about starting your career and ...,2023-01-06,Graduate employment,2023-07-03 00:00:00,Temporary,Hong KongSingapore,NaN,HSBC (HSBC) - Hong Kong,https://careers.lse.ac.uk//students/jobs/detai...

In [98]:
df1 = df_import.iloc[:, 1:5]
df1.head()

df2 = df_import.iloc[:, [7,9,10]]
df2.head()

pdList = [df1,df2]
df = pd.concat(pdList,axis=1)
df.head()

df.shape

types = df.dtypes
print(types)

df_title = df.iloc[:,0]
df_text_both = df.iloc[:, [0,1]]
df_text = df.iloc[:, [1]]

df_text_both.head()

title                  object
details                object
deadline       datetime64[ns]
opport_type            object
location               object
company                object
links                  object
dtype: object

,title,details
0,Rothschild & Co - Private Equity Long-Term Int...,This London-based 6-month internship is an exc...
1,2023 HSBC Global Graduate Programme (Hong Kong...,You’re excited about starting your career and ...
2,2023 HSBC Global Internship Programme (Hong Ko...,You’re excited about starting your career and ...
3,"Graduate Training Scheme, Capital Markets",Graduate Training Scheme – LondonGreySpark Par...
4,6-Months Internship – Sell-side Tech M&A,"At IPTP, we understand software from decades o..."

In [99]:
df_text.head()

                                             details
0  This London-based 6-month internship is an exc...
1  You’re excited about starting your career and ...
2  You’re excited about starting your career and ...
3  Graduate Training Scheme – LondonGreySpark Par...
4  At IPTP, we understand software from decades o...

In [100]:
type(df_text)

pandas.core.frame.DataFrame

In [101]:
#ar_text = df_text.to_numpy()
#ar_text = ar_text[:101]

df_text = df_text[:101]

In [112]:
#df_text = pd.DataFrame(df_text)
#len(df_text)
text_list = df['details'].tolist()
df_text.iloc[95,0]

'2R Capital Investment Management Limited is an independent investment company based in London, UK. We own a successful credit business and are in the process of launching new initiatives in equity investing and private assets. In equity investing our primary objective is to seek long-term capital compounding for our clients commensurate with reasonable risk. We focus our attention on mid-sized European companies. We are disciplined fundamental investors. We conduct extensive research and invest only in businesses we understand within regions and industry sectors where we have significant expertise.In the private assets space, we focus on both equity and debt of small and medium sized companies with significant growth potential in preselected sectors and regions. Job Opportunities We are looking for 1-2 analysts to help us identify investment opportunities across Europe. Both internship and full time positions are available. Targeted training will be provided. The successful candidates are self-starters who can carry out their activities with little supervision. They should have a keen interest in securities investing and good research, writing and financial modelling abilities. European languages are important. Day to day activities include: search/origination of potential investment opportunities, primary research and analysis of specific sectors/companies and valuation of investment opportunities. Direct interaction with entrepreneurs, managers and investors are possible. This is a unique opportunity to join a new and growing investment team, to have direct exposure to the portfolio manager and to be an integral part of the investment decision process.'

In [113]:
txt_lst = df_text['details'].tolist()

#docs = list(nlp.pipe(df_text['details']))
docs = df_text['details'].apply(nlp)

#docs = [nlp(string) for string in df_text]
#docs = list(nlp.pipe(df_text))

In [114]:
len(docs)

101

In [ ]:
#Individual Job View
rend_doc = docs[29]

from spacy import displacy
displacy.render(rend_doc,style="ent")

In [54]:
# Converting every text data into nlp objects called "docs" 

tokens = np.array([[document = nlp(text)] for text in df_text])

SyntaxError: invalid syntax (<ipython-input-54-72722e66c715>, line 4)

In [15]:
# tokens contains a list of list of tokens
tokens = np.array([[token.text for token in nlp(sent[0])] for sent in df_text])

In [16]:
docs1 = [' '.join(doc) for doc in df_text]

filtered_docs = list([[token.text for token in nlp(doc) if token.pos_ in ['PROPN', 'NOUN','ADJ']] for doc in docs1])

In [93]:
# POS TEST
filtered_docs

fil_docs = [' '.join(doc) for doc in filtered_docs]

docs = list(nlp.pipe(fil_docs))

In [78]:
# POS TEST

pos_tags = list([[token.pos_ for token in doc] for doc in docs])
len(pos_tags)
#pos_tags = np.array(pos_tags)

101

In [88]:
# POS TEST

df_tk = pd.DataFrame(filtered_docs)
df_ps = pd.DataFrame(pos_tags)
len(df_tk)

101

In [97]:
rend_doc = docs[0]

In [95]:
rend_doc

'London month internship exciting opportunity Rothschild Co European corporate private equity business Rothschild Co European corporate private equity business strategies Arrows Principal Investments FAPI Arrows Growth Capital FAGC Arrows Long Term Fund FALT FAPI c. latest fund flagship corporate private equity vehicle mid - cap companies FAGC c. growth investments small cap buy outs FALT investments larger companies option longer term holding periods funds investments Western Europe FALT North America main verticals Data Software Healthcare Technology Business Services respective teams London Paris Luxembourg c. investment professionals countries Responsibilities industries potential targets investments sources information Identifying investment opportunities financial models investment committee memos standard financial models deal execution processes monitoring portfolio companies point view value actionable opportunities Fund risk return criteria team co - due diligence transaction processes other advisers relationship exposure senior bankers investment committee members Skills Teamwork ability effective relationships individuals teams lines business geographical cultural boundaries Communication ability influence Good listening skills Ability proactive persevere setbacks results Ability high level responsibility Understanding fundamental principles application corporate finance Enthusiasm skills skills Ability long term professional relationships management teams advisors value Advanced Microsoft Office skills Word PowerPoint Excel Qualifications Outstanding academic track record Previous experience investment bank M&A Leveraged Finance ECM private equity firm top tier strategy consulting firm'

In [98]:
from spacy import displacy
displacy.render(rend_doc,style="ent")

In [89]:
# CREATING DATAFRAME FOR R
df_title = df_title[0:101]

In [90]:
# CREATING DATAFRAME FOR R

df_title_tks = pd.concat([df_title, df_tk], axis = 1)
df_title_tks

,title,0,1,2,3,4,5,6,7,8,...,282,283,284,285,286,287,288,289,290,291
0,Rothschild & Co - Private Equity Long-Term Int...,London,month,internship,exciting,opportunity,Rothschild,Co,European,corporate,...,None,None,None,None,None,None,None,None,None,None
1,2023 HSBC Global Graduate Programme (Hong Kong...,excited,career,many,paths,possibilities,global,bank,inclusive,culture,...,None,None,None,None,None,None,None,None,None,None
2,2023 HSBC Global Internship Programme (Hong Ko...,excited,career,many,paths,possibilities,global,bank,inclusive,culture,...,None,None,None,None,None,None,None,None,None,None
3,"Graduate Training Scheme, Capital Markets",Graduate,Training,Scheme,LondonGreySpark,Partners,Graduate,Training,Scheme,London,...,None,None,None,None,None,None,None,None,None,None
4,6-Months Internship – Sell-side Tech M&A,IPTP,software,decades,deep,experience,technology,sector,strategic,commercial,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,M&A Analyst Intern,MAJOR,RESPONSIBILITIESGather,financial,operating,information,companies,industries,governmentsCreate,financial,...,None,None,None,None,None,None,None,None,None,None
97,12 Month Internship - Financial Crimes and San...,Job,summaryFinancial,Crime,Financial,Security,Credit,Agricole,vacancy,Central,...,None,None,None,None,None,None,None,None,None,None
98,Investment Associate - Fixed Income,Position,OverviewPutnam,energetic,curious,individuals,eager,bond,dynamic,environment,...,None,None,None,None,None,None,None,None,None,None
99,12 Month Internship - Central Compliance,SummaryThe,Central,Compliance,team,responsible,transversal,compliance,regulatory,matters,...,None,None,None,None,None,None,None,None,None,None
100,12 Month Internship - Market Activity Monitoring,Key,ResponsibilitiesThis,role,MAM,Section,Head,Treasury,Linear,Products,...,None,None,None,None,None,None,None,None,None,None